body {
  font-family: sans-serif;
  padding: 0; margin: 0;
}

#assignments {
  float: left;
  margin: 0em 2em 0em 0em; margin-top: 0;
  background-color: #f8f3d2;
  list-style: none;
  width: 20%;
  padding: 1em;
}

#assignments ul {
  list-style: none;
  margin: 0em 0em 0em 0em; margin-top: 0;
  padding-left: 0.8em;
}

h1 {
  background-color: #7d110c;
  color: white;
  padding: 1em 1em; margin: 0;
}

#info {
  float: right;
  margin: 0em 1em 0em 2em;
}

#content {
  margin-top: 1em;
  margin-left: 23%;
}

#content ul { 
  list-style: none; 
  padding-left: 1em;
}
